version: '3.8'
services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    volumes:
      - /data/mongodb:/data/db
    ports:
      - "27017:27017"
    networks:
      - shared-network

networks:
  shared-network:
    external: true